{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %}

{% block title-header %} 
<div class="col-12 titulos">
    <div>
        <h1 class="display-4 fw-bold">Andres Galarza</h1>
    </div>
    <div>
        <h3 class="fs-2">Fullstack Developer & Data Scientist</h3>
    </div>
</div>
{% endblock %}

{% block content %}

<h1 class="fw-lighter fst-italic px-5">Desarrollo de Sistemas Web</h1>
<p>Análisis, diseño, programación e implementación (puesta en producción) de sistemas web de alta concurrencia.</p>
<p>Aseguramiento de Bases de Datos confidenciales.</p>			

{% endblock %}